.product {
    position: relative;
    flex: 1 150px;
    width: 280px;
    height: 270px;
    background-size: cover;
    border-radius: 20px;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin: 0 10px 30px 10px;
    padding: 15px;
    background-color: #fff;
  }

  
.card-product{
	flex: 1 150px;
	padding: 2px 2px 2px 5px;
	margin-top: 50px;
	margin-right: 2px;
	margin-left: 2px;
}
  
.product__title {
    font-size: 19px;
    padding: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.product__description {
    font-size: 14px;
    padding: 0 14px; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0rem;
}

.product__orderbutton {
  font-size: 14px;
  color: #fff;
  border: none;
  text-align: center;
  padding: 6px 10px;
  border-radius: 25px;
  background: linear-gradient( to right, #439949 0%, #28632e 100%);
  margin-right: 15px;
  margin-left: 5px;
}

.product__orderbutton:hover {
  background: linear-gradient( to left, #46a14d 0%, #35803b 100%);
}

.product__button {
  width: 85px;
  font-size: 14px;
  color: #fff;
  border: none;
  text-align: center;
  padding: 6px 17px;
  margin-top: 15px;
  border-radius: 25px;
  background: linear-gradient( to right,  #4590fb 0%, #6aa5f8 100%);
  margin: 15px 15px 50px 15px;
}

.product__button:hover {
  background: linear-gradient( to left,  #4590fb 0%, #6aa5f8 100%);
  /* margin: 20px 0 50px 0; */
}